.arrow::after, .popover-header::before {
    border-bottom-color: #455A64;
}

.bg-light, .bg-white {
    background-color: #455A64;
}

.bootstrap-tokenizer .token {
    background-color: #263238;
    color: #B0BEC5;
    font-weight: bold;
}

.bootstrap-tokenizer .token:hover {
    background-color: #212121;
}

.bootstrap-typeahead-highlight, {
    background-color: #455A64;
}

.bootstrap-typeahead-input-main {
    color: #90A4AE;
}

.btn-light {
    background-color: #546E7A;
    border-color: #37474F;
}

.btn-light:hover {
    background-color: #263238;
}

.btn-light:not(:disabled):not(.disabled).active {
    background-color: #455A64;
}

.btn-light:not(:disabled):not(.disabled).active:hover {
    background-color: #263238;
}

.btn-primary, .page-item.active .page-link, button.swal2-confirm.swal2-styled {
    background-color: #303F9F;
    border-color: #37474F;
}

.btn-primary:hover, .page-item.active .page-link:hover, button.swal2-confirm.swal2-styled:hover, button.swal2-confirm.swal2-styled:focus {
    background-color: #283593;
    border-color: #37474F;
}

.btn-secondary {
    background-color: #455A64;
    border-color: #37474F;
}

.btn-secondary:hover {
    background-color: #37474F;
    border-color: #37474F;
}

.btn-success {
    background-color: #388E3C;
    border-color: #388E3C;
}

.btn-success:hover, .btn-success:focus {
    background-color: #2E7D32;
    border-color: #2E7D32;
}

.btn-warning {
    background-color: #FFA000;
    border-color: #FFA000;
}

.btn-warning:hover, .btn-warning:focus {
    background-color: #FF8F00;
    border-color: #FF8F00;
}

.btn.btn-outline-primary.mb-2 {
    background-color: transparent;
}

.card {
    background-color: #37474F;
}

.card.game-card-home.game-card-boxshadow.cursor-pointer.itemscontainer:hover {
    animation: fade 0.3s forwards;
}

.containerForNav, .tab-content {
    box-shadow: #78909C 0px 0px 0px 1px;
}

.discord-button, a.btn.mb-2 {
    background-color: #3949AB;
    border-color: #3949AB;
}

.discord-button:hover, .discord-button:focus, a.btn.mb-2:hover, a.btn.mb-2:focus {
    background-color: #303F9F;
    border-color: #303F9F;
}

.dropdown .btn-info, button.btn.btn-info {
    background-color: #0097A7;
    border-color: #0097A7;
}

.dropdown .btn-info:hover, .dropdown .btn-info:focus, button.btn.btn-info:hover, button.btn.btn-info:focus {
    background-color: #006064;
    border-color: #006064;
}

.dropdown-divider {
    border: 1px solid #263238;
}

.dropdown-menu, button.dropdown-item, a.dropdown-item {
    background-color: #37474F;
    color: #B0BEC5;
}

.editorBackground {
    background-color: transparent;
}

.flex-shrink-1.pl-0.col-3, .table, .table.typesTable td, .table.typesTable th, th, .form-control, .react-bs-table-bordered, .table-bordered td, .table-bordered th {
    border-color: #78909C ;
}

.form-control {
    background-color: #37474F;
    color: #CFD8DC;
}

.form-control:disabled {
    background-color: #78909C;
}

.form-control:focus {
    background-color: #455A64;
    box-shadow: #455A64;
    color: #CFD8DC;
}

.homepage-theme, .swal2-popup, .swal2-success-circular-line-left, .swal2-success-circular-line-right, .swal2-success-fix {
    background: #263238;
}

.label {
    color: #263238;
}

.list-group-item {
    background-color: #455A64;
    color: #CFD8DC;
}

.list-group-item.active {
    background-color: #37474F;
    border-color: #455A64;
    color: #CFD8DC;
}

.list-group-item:hover, .tooltip-inner {
    background-color: #546E7A;
    color: #ECEFF1;
}

.login-card {
    box-shadow: 0 0 40px 17px #37474F;
}

.modal-header, .modal-footer {
    border-color: #455A64;
}

.nav-tabs .nav-link.active {
    background-color: #455A64;
    border-color: #78909C #78909C #78909C ;
    color: #8a96a1;
}

.nav-tabs .nav-link.active:hover {
    border-color: #78909C #78909C #78909C;
    color: #8a96a1;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #78909C #78909C #78909C;
    color: #78909C;
}

.nav.nav-pills.white-pills a.nav-link.active {
    background-color: #546E7A;
}

.page-link {
    background-color: transparent;
    border-color: #3949AB;
}

.page-link:hover, .page-link:focus {
    background-color: #3949AB;
    color: #B0BEC5;
}

.popover-body, .popover-header, .popover {
    background-color: #455A64;
}

.progress {
    background-color: #546E7A;
}

.row, .table-cell,.col-sm-9.inner-div-container.border-right {
    border-color: #546E7A;
}

.rowContents {
    background-color: #141414;
    border-color: #424242;
    border-radius: 4px;
    box-shadow: none;
}

.rowContents:hover {
    background-color: #212121;
}

.text-dark, .text-light, .container-fluid.bg-white, h5,div small {
    color: #B0BEC5;
}

.text-white, .swal2-popup .swal2-content {
    color: #90A4AE;
}

.white-background {
    box-shadow: #455A64 0px 0px 0px 1px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

a.anchor-disable div.row {
    border-color: #546E7A;
    color: #546E7A;
}

a.anchor-disable div.row:hover {
    background-color: #455A64;
    color: #212121;
}

@keyframes fade {
  from {
    
    -webkit-opacity: 1;
    
    -webkit-opacity: 1;
    
    -webkit-opacity: 1;
    
    -webkit-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
  }
  to {
    
    -webkit-opacity: 0.85;
    
    -webkit-opacity: 0.85;
    
    -webkit-opacity: 0.85;
    
    -webkit-opacity: 0.85;
    -webkit-opacity: 0.85;
    opacity: 0.85;
  }
}



body {
    background-color: #263238;
    color: #8a96a1;
}

button.btn-danger {
    background-color: #D84315;
}

button.btn-danger:hover, button.btn-danger:focus {
    background-color: #BF360C;
}

button.btn.btn-outline-primary.btn-sm:hover, button.btn.btn-outline-primary.btn-sm:focus, {
    background-color: #303F9F;
    border-color: #3949AB;
}

/* Additional CSS for modd.io/login?redirect=/  */

/* CSS for scrollbar. Works on GOOGLE CHROME, Mozilla Firefox and  SAFARI */

/* Inventory */

/* Some CSS for popovers */

/*Animations for more alive feeling*/

/*End of animations*/

/* Bars */

/* Game Part End */

/* width */

/* Track */

/* Handle */

/* Handle on hover */

/* SCROLLBAR END */

/* GAME UI   */

div a.link, div a.link span, span.rowTitle span {
    color: #1976D2;
}

div#editor-div {
    background-color: rgba(54, 70, 78, 0.8);
}

div#loading-container,div#featured-youtuber,.popover, .white-bg, .jumbotron, .white-background, .gameBackground, .modal-content, .dropdown-menu li a:hover, button.dropdown-item:hover, a.dropdown-item:hover {
    background-color: #263238;
}

input {
    background-color: #455A64;
    border: 1px solid;
    border-radius: 5px;
}

input.bootstrap-typeahead-input-main {
    background-color: transparent;
    border-color: transparent;
}

ol.breadcrumb {
    background-color: #37474F;
    color: #ECEFF1;
}

span.rowTitle span .error-text, div a.link span.error-text {
    color: red;
}

span.rowTitle span.error-text, span.error-text span, div a.link span.error-text span {
    color: red;
}

div#main {
    background-color: #263238;
}

